@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Qwitcher+Grypen:wght@700&family=Space+Mono&display=swap');

/* Paleta de colores : https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 */
.header {
  background-color: #dcd7c9;
}
.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  /* font-family: 'Qwitcher Grypen', cursive; */
}
.nav-item{
  font-family: 'Space Mono', monospace;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #3F4E4F;
}
#navbarNav a:hover,
.react-icons:hover{
  color: #A27B5C;
}

.react-icons {
  height: 1.5rem;
  width: auto;
  color: #2C3639
}

main{
  background-color: #2C3639; 
  height: 100vh;
  color : #dcd7c9;
}
.AddButtons{
  width: 10rem;
}
  .Buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: #dcd7c9;
    border-radius: 15px 15px 15px 15px;
  }
  .pdpBtns{
    height: 1.5rem;
    width: auto;
    color: #dcd7c9;
  }
  .pdpBtns:hover{
    color: #A27B5C;
  }
  .btn  {
    background-color: #dcd7c9;
  }
  .btn:hover{
    background-color: #A27B5C;
    color: #2C3639;
  }
  .Buttons span{
    color: #dcd7c9;
  }
